急救APP9.0/急救APP市民版路由服务/AppRouteServer/src/AppServerAPI/Service References/CallErrorManagerService/CallErrorManagerPort.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.fristAid.com/" targetNamespace="http://ws.fristAid.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addCallError" type="tns:addCallError" />
  <xs:element name="addCallErrorResponse" type="tns:addCallErrorResponse" />
  <xs:complexType name="addCallError">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addCallErrorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>