急救APP9.0/急救APP市民版路由服务/AppRouteServer/src/AppServerAPI/Service References/CarStepManagerService/CarStepManagerPort.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.firstAid.com/" targetNamespace="http://ws.firstAid.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="addCarStep" type="tns:addCarStep" />
  <xs:element name="addCarStepResponse" type="tns:addCarStepResponse" />
  <xs:complexType name="addCarStep">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="addCarStepResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>